<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="Logo">
        <h2>Reset Password</h2>
        <p>Enter your email to receive an OTP.</p>

        <form method="POST" action="/forgot_password">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="" required>
            <button type="submit">Send OTP</button>
        </form>

        <div class="options" style="justify-content: center; margin-top: 1rem;">
            <a href="/">Back to Login</a>
        </div>
    </div>
</body>

</html>